.container {
  background-color: #ffe5d8;
  padding-bottom: 20px;
  padding-top: 40px;
}

body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3 {
  text-align: center;
}

h1 {
  color: #543d69;
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 0px;
}

h2 {
  color: #543d69;
  font-weight: 700;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 15px;
}

h3 {
  color: #f67280;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
}

.currentWeather {
  background-color: #f7efeb;
  max-width: 275px;
  max-height: 275px;
  margin: 0 auto;
  border: 3px solid #a93153;
  border-radius: 50%;
}

#weathericon {
  display: block;
  margin: 0 auto;
  width: 150px;
}

#description {
  padding-top: 20px;
  font-weight: 700;
  font-size: larger;
  text-align: center;
  padding-bottom: 0px;
  color: #a93153;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: capitalize;
}

.currentTemperature {
  text-align: center;
  font-size: 35px;
  color: #a93153;
  padding-top: 0px;
  margin-top: 0;
}
.windHumidity {
  text-align: center;
  font-size: 20px;
  color: #a93153;
  margin-top: 20px;
  font-weight: bold;
}
.nextDays {
  color: #543d69;
  font-weight: 600;
  font-size: 20px;
  padding-top: 45px;
}

.date {
  color: #f67280;
  font-weight: 600;
}

.currentWeather .active {
  color: #a93153;
  text-decoration: none;
  cursor: default;
}

.currentWeather .active:hover {
  text-decoration: none;
}

.weather-icon {
  padding-top: 15px;
  margin-bottom: 0;
  padding-bottom: 7px;
  text-align: center;
  font-size: 28px;
  color: #a93153;
}

.temperature {
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
  color: #a93153;
}

.card {
  border: 2px solid #a93153;
  border-radius: 18px;
  margin-top: 3px;
  margin-bottom: 30px;
  background-color: #f7efeb;
}

.form {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #a93153;
  border-radius: 10px;
  background-color: #f7efeb;
  margin-top: 40px;
  padding: 5px 30px;
}

#github-link {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #543d69;
  margin-top: 60px;
  font-size: smaller;
}
